.header {
  width: 1920px;
  height: 136px;
  background: #ffffff;

  @media (width: 360px) {
    width: 360px;
    height: 64px;
    display: flex;
    align-items: center;
  }

  button {
    cursor: pointer;
  }

  .container {
    width: 1216px;
    margin-left: 352px;
    margin-right: 352px;
    margin-top: 24px;

    @media (width: 360px) {
      margin: 0;
    
    }

    .container__f-line {
      display: flex;
      justify-content: space-between;
     
      .menu {
        display: none;
        width: 32px;
        height: 32px;
        background: transparent;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        padding: 8px 6px;

        @media (width: 360px) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        div {
          margin: 0;
          border-top: 2px solid black;
        }
      }

      .logo {
        margin-top: auto;
        margin-bottom: auto;
        width: 88px;
        height: 24px;
        margin-right: 16px;
        position: relative;

        @media (width: 360px) {
          margin: 0; 
        }
      }

      .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 384px;
        background: #FBFBFB;
        box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
        border-radius: 10px;
        position: absolute;
        top: 80px;
        left: 455px;
        z-index: 1;

        .input-region {
          width: 352px;
          min-height: 48px;
          margin-top: 24px;
          box-sizing: border-box;
          padding-left: 24px;
          border: 2px solid #ABC8EA;
          outline: none;
          border-radius: 100px;
          z-index: 1;

        }

        .selected-locations {
          box-sizing: border-box;
          min-height: 72px;
          width: 352px;
          border-bottom: 1px solid #D8D8D8;
          padding: 12px 16px;

          .bobber {
            background: #0656b4;
            border-radius: 49px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            padding: 9px 35px 9px 17px;
            line-height: 22px;
            margin: 4px 8px 4px 0;
            position: relative;

            .bobber-btn {
              background-image: url(/images/x_remove_icon.svg);
              background-repeat: no-repeat;
              background-position: center;
              height: 15px;
              width: 15px;
              background-color: #0656B4;
              border: none;
              position: absolute;
              top: 12px;
              right: 10px;
            }
          }
        }

        .all-locations {
          max-height: 200px;
          width: 352px;
          overflow-y: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: #F1F1F1;
          }

          &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px #ABC8EA
          }
        }

        .button-region {
          background: #FBFBFB;
          min-height: 48px;
          width: 384px;
          color: #A7A7A7;
          font-size: 12px;
          padding: 16px 145px;
          border: none;
          border-radius: 0px 0px 10px 10px;
          border-top: 1px solid #D8D8D8;

          &:hover {
            background: #0656B4;
            color: #ffffff;
          }

        }

        .push {
          background: #0656b4;
          color: #ffffff;
        }
      }


    }

    .location {
      min-height: 40px;
      width: 360px;
      font-size: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #F1F1F1;
      }
    }

    .city {
      width: 152px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      @media (width: 360px) {
        display: none;
      }
    }

    .input-header {
      width: 592px;
      height: 48px;
      background: #F1F1F1;
      border-radius: 100px;
      border: none;
      text-align: center;
      background-image: url(/images/Union.svg);
      background-repeat: no-repeat;
      background-position: 15px;

      @media (width: 360px) {
        display: none;
      }

      &:focus {
        outline: 2px solid #ABC8EA;
      }

    }

    .wrapper-favorit-avatar {
      display: flex;
      align-items: center;
      margin-left: 175.5px;

      @media (width: 360px) {
        margin: 0;
      }

      .favorit {
        width: 43px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 2px;
        margin-right: 30.5px;

        @media (width: 360px) {
          margin: 0;
        }

        img {
          height: 15px;
          padding: 7px;
        }
      }

      .avatar {
        display: flex;
        height: 32px;
        width: 120px;

        @media (width: 360px) {
          display: none;
        }

        span {
          margin: 7px 7px 3px 9px;
        }
      }
    }
  }

  .container__s-line {
    display: flex;
    margin-top: 24px;
    margin-bottom: 16px;
    gap: 34px;
    position: relative;

    @media (width: 360px) {
      display: none;
    }

    button {
      font-size: 14px;
      padding: 2px 10px;
      border-radius: 34px;
      background: transparent;
      border: none;

      &:hover {
        background: #F1F1F1;
      }
    }

    img {
      position: absolute;
      right: 0px;
      bottom: -5px;
      background: #fff;
      filter: drop-shadow(-22px 1px 6px rgb(253, 251, 251));
    }
  }
}
body{
  margin: 0 auto;
}