.header {
  width: 1920px;
  height: 136px;
  background: #ffffff;
}

@media (width: 360px) {
  .header {
    width: 360px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header button {
  cursor: pointer;
}

.header .container {
  width: 1216px;
  margin-left: 352px;
  margin-right: 352px;
  margin-top: 24px;
}

@media (width: 360px) {
  .header .container {
    margin: 0;
  }
}

.header .container .container__f-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .container .container__f-line .menu {
  display: none;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 6px;
}

@media (width: 360px) {
  .header .container .container__f-line .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header .container .container__f-line .menu div {
  margin: 0;
  border-top: 2px solid black;
}

.header .container .container__f-line .logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 88px;
  height: 24px;
  margin-right: 16px;
  position: relative;
}

@media (width: 360px) {
  .header .container .container__f-line .logo {
    margin: 0;
  }
}

.header .container .container__f-line .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 384px;
  background: #FBFBFB;
  -webkit-box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 455px;
  z-index: 1;
}

.header .container .container__f-line .modal .input-region {
  width: 352px;
  min-height: 48px;
  margin-top: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 24px;
  border: 2px solid #ABC8EA;
  outline: none;
  border-radius: 100px;
  z-index: 1;
}

.header .container .container__f-line .modal .selected-locations {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 72px;
  width: 352px;
  border-bottom: 1px solid #D8D8D8;
  padding: 12px 16px;
}

.header .container .container__f-line .modal .selected-locations .bobber {
  background: #0656b4;
  border-radius: 49px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 9px 35px 9px 17px;
  line-height: 22px;
  margin: 4px 8px 4px 0;
  position: relative;
}

.header .container .container__f-line .modal .selected-locations .bobber .bobber-btn {
  background-image: url(../images/x_remove_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  background-color: #0656B4;
  border: none;
  position: absolute;
  top: 12px;
  right: 10px;
}

.header .container .container__f-line .modal .all-locations {
  max-height: 200px;
  width: 352px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header .container .container__f-line .modal .all-locations::-webkit-scrollbar {
  width: 6px;
}

.header .container .container__f-line .modal .all-locations::-webkit-scrollbar-track {
  background: #F1F1F1;
}

.header .container .container__f-line .modal .all-locations::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #ABC8EA;
  box-shadow: inset 0 0 6px #ABC8EA;
}

.header .container .container__f-line .modal .button-region {
  background: #FBFBFB;
  min-height: 48px;
  width: 384px;
  color: #A7A7A7;
  font-size: 12px;
  padding: 16px 145px;
  border: none;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid #D8D8D8;
}

.header .container .container__f-line .modal .button-region:hover {
  background: #0656B4;
  color: #ffffff;
}

.header .container .container__f-line .modal .push {
  background: #0656b4;
  color: #ffffff;
}

.header .container .location {
  min-height: 40px;
  width: 360px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header .container .location:hover {
  background: #F1F1F1;
}

.header .container .city {
  width: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

@media (width: 360px) {
  .header .container .city {
    display: none;
  }
}

.header .container .input-header {
  width: 592px;
  height: 48px;
  background: #F1F1F1;
  border-radius: 100px;
  border: none;
  text-align: center;
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  background-position: 15px;
}

@media (width: 360px) {
  .header .container .input-header {
    display: none;
  }
}

.header .container .input-header:focus {
  outline: 2px solid #ABC8EA;
}

.header .container .wrapper-favorit-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 175.5px;
}

@media (width: 360px) {
  .header .container .wrapper-favorit-avatar {
    margin: 0;
  }
}

.header .container .wrapper-favorit-avatar .favorit {
  width: 43px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  margin-right: 30.5px;
}

@media (width: 360px) {
  .header .container .wrapper-favorit-avatar .favorit {
    margin: 0;
  }
}

.header .container .wrapper-favorit-avatar .favorit img {
  height: 15px;
  padding: 7px;
}

.header .container .wrapper-favorit-avatar .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 120px;
}

@media (width: 360px) {
  .header .container .wrapper-favorit-avatar .avatar {
    display: none;
  }
}

.header .container .wrapper-favorit-avatar .avatar span {
  margin: 7px 7px 3px 9px;
}

.header .container__s-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 16px;
  gap: 34px;
  position: relative;
}

@media (width: 360px) {
  .header .container__s-line {
    display: none;
  }
}

.header .container__s-line button {
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 34px;
  background: transparent;
  border: none;
}

.header .container__s-line button:hover {
  background: #F1F1F1;
}

.header .container__s-line img {
  position: absolute;
  right: 0px;
  bottom: -5px;
  background: #fff;
  -webkit-filter: drop-shadow(-22px 1px 6px rgb(253, 251, 251));
  filter: drop-shadow(-22px 1px 6px rgb(253, 251, 251));
}

body {
  margin: 0 auto;
}